<div class="container">
  <h1>Fundamentos de Angular</h1>

  <div>
    <h4> Interpolacion</h4>
    <p>Nombre del maestro: {{nombre}}</p>
    <p>Correo: {{email}}</p>
    <p>Años de Servicio: {{aniosServicio}}</p>
    <p>Uno mas uno= {{1+1}}</p>
    <p>Status: {{estaActivo()}}</p>
    <p>Total de alumnos:  {{ sumarAlumnos() }}</p>
  </div>

  <p></p>

  <div>
    <h4>Condicional (if)</h4>
    @if(aniosServicio >=20){
      <p>Tiene mucha antiguedad</p>
    }@else{
      <p>No tiene mucha antiguedad</p>
    }

  </div>

  <p></p>

  <div>
    <h4> Listado de productos (for)</h4>
    <table>
      @for(producto of productos; track producto.id){
        <tr>
          <td>{{ producto.id }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio}}</td>      
          </tr>
      }
    </table>
  </div>

  <p></p>
  <div>
    <h4>Switch</h4>
    @switch (numero) {
      @case (1) {
        <p>UNO</p>
      }
      @case (2) {
        <p>DOS</p>
      }
      @case (3){
        <p>TRES</p>
      }
      @default {
        <p>Es otro numero</p>
      }
    }
  </div>

  <p></p>
  <div>
    <h4>Captura de eventos (event handler)</h4>
    <h6>{{contador}}</h6>
    <button 
    (click)="incrementarContador()">Sumar</button>
    <button 
    (click)="decrementarContador()">Restar</button>
  </div>  

  <p></p>

  <div>

  <h4>Property Binding</h4>
  <button 
    [disabled]="desactivarBoton">Guardar</button>
  
  <button 
  (click)="cambiarValor()">Habilitar/Desabilitar boton</button>

  </div>
</div>
<router-outlet></router-outlet>